/* reset selector */
/**{
    margin: 0;
    padding: 0;
}/*

/* elements */
body{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 100%;
    margin: .25em;
    padding: .25em;
    background-image: linear-gradient(
	    30deg, skyblue 0%, rgb(158, 212, 235) 50%,  white 100%);
    border: 2px solid black;
    border-radius: 25px;
    box-shadow: 5px 5px 0 0;
    width: 98%;
}
a{font-weight: bold;}
a:link{color:blue;}
a:visited{color:blueviolet;}
a:hover, a:focus{color:red;}

ul{line-height: 1.5;}
li, p{font-size: 95%;}
em{font-weight: bold;}

/* header */
header h1{
    font-size: 220%;
    color:black;
    text-align: center;
    text-shadow: 2px 2px 2px blueviolet;
    margin: .25em;
    padding: .25em;
    border-bottom: 3px solid black;
}

/* nav menu */
#nav_menu ul{
    text-align: center;
    display: flex;
    flex-basis: 100%;
    justify-content: space-evenly;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
#nav_menu ul li{
    display: block;
    border-radius: 5px;
    flex-basis: 20%;
    text-decoration: none;
    background-color: black;
    font-weight: bold;
}

/* main */
main{
    display: flex;
    border-top: 3px solid black;
    margin: .25em;
    padding: .25em;
}
main h2{
    font-size: 160%;
    color: black;
    text-align: center;
    text-shadow: 2px 2px 2px blueviolet;
    margin: .25em;
    padding: .25em
}
main h4{
    font-size: 120%;
    color: black;
    text-align: left;
    text-shadow: 2px 2px 2px blueviolet;
    text-decoration: underline;
    margin: .25em;
    padding: .25em;
}
main p{
    font-size: 100%;
    color: black;
    text-align: left;
    margin: .25em;
    padding: .25em;
}
main ul{
    margin-left: .25em;
    padding: 0;
}
main ul li{
    margin-left: .25em;
    padding: 0;
}

/* article */
article{
    flex-basis: 55%;
    margin: .5em;
    padding: .5em;
}
article img{
    width: 100%;
    max-width: 800px;
    margin: 0;
}

/* aside */
aside{
    flex-basis: 45%;
    padding: .5em;
    margin: .5em;
}
aside img{
    width: 100%;
    max-width: 600px;
    margin: 0;
}
aside video{
    width: 100%;
    max-width: 600px;
    margin: 0;
}

/* footer */
footer p{
    font-size: 100%;
    color: black;
    text-align: center;
    margin: .25em;
    padding: .25em;
    border-top: 3px solid black;
}